<h1>Adicionar item</h1>


<%= form_with model: @lot_item, url: add_item_lot_path, id:'form-content' do |f|%>

    <%= f.label :lot_id, 'Lote'%>
    <%= f.collection_select :lot_id, Lot.where(id: params[:id]), :id, :code %>

    <%= f.label :item_id, 'Produto'%>
    <%= f.collection_select :item_id, Item.where(selected:false), :id, :name %>

    <%= f.submit 'Salvar' %>

<%end%>