<% if user_session%>
    <% if current_user.admin%>
        <%= link_to "Visualizar todos os lotes", lots_all_path %>
        <%= link_to "Visualizar lotes expirados", expireds_path %>
    <% end %>
<% end %>
<table>
    <tr>
        <th>Código</th>
        <th>Inicio</th>
        <th>Término</th>
        <th>Valor</th>
        <th>Status</th>
    </tr>
    <% @lots.each do |l|%>
        <%if l.aproved == 'aprovado'%>
            <tr>
                <td> <%= link_to l.code, lot_path(l) %> </td>
                <td> <%= I18n.localize(l.start_date) %> </td>
                <td> <%= I18n.localize(l.limit_date) %> </td>
                <td> R$<%= l.min_value %> </td>
                <td> <%= Finalized.where(lot_id:l.id).any? ? "Finalizado" : "Aberto" %> </td>
                
            </tr>
        <%end%>
    <% end%>
</table>