
<div class = "row">    
    <div class = "content">
        <ul class = "menu">
            <li><%= link_to "Cadastrar novo lote", new_lot_path %></li>
        <ul>
    </div>
</div>

    <table class = "table">
        <tr>
            <th>Código</th>
            <th>Inicio</th>
            <th>Término</th>
            <th>Valor</th>
            <th>Diferença</th>
            <th>Status</th>
        </tr>
        <% @lots.each do |l|%>
                <tr>
                    <td> <%= link_to l.code, lot_path(l) %> </td>
                    <td> <%= I18n.localize(l.start_date) %> </td>
                    <td> <%= I18n.localize(l.limit_date) %> </td>
                    <td> R$<%= l.min_value %> </td>
                    <td> R$<%= l.dif_value %> </td>
                    <td><%= l.status %> </td>
                    
                </tr>
        <% end%>
    </table>