<h1>Lote <%= @lot.code%></h1>

<%if @bid%>
   <p>Seu lance: <%= @bid.value %></p>
<%end%>

<%if Winner.where(lot_id: @lot.id).any?%>
   <p>Vencedor do leilão: <%= Winner.find_by(lot_id: @lot.id).user.email%></p>
<%end%>


Inicio: <%= I18n.localize(@lot.start_date) %> </br >
Fim: <%=  I18n.localize(@lot.limit_date)  %></br >
Lance mínimo: R$<%=@lot.min_value%></br >
Diferença de lance: R$<%=@lot.dif_value%></br >

<h1>Items</h1>
<ul>
<% @items.each do |i|%>
   <li> <%= link_to i.item.name, item_path(i.item) %> </li>
<%end%>
</ul>

<%= link_to "Dar lance", make_bid_path(@lot) %>
