
<div class = "row">
   <div class= "content">
      <h1>Lote <%= @lot.code%></h1>
      
   </div>
   <div class = "content">
   
   </div>

   <div class = "content">
      Início: <%= I18n.localize(@lot.start_date) %> </br >
      Fim: <%=  I18n.localize(@lot.limit_date)  %></br >
      Lance mínimo: R$<%=@lot.min_value%></br >
      Diferença de lance: R$<%=@lot.dif_value%></br >
      Status: <%= t("activerecord.enum.lot.status.#{@lot.status}")%>
   </div>
   
   <%= link_to "Editar", edit_lot_path(@lot) %>

</div>