
<div class = "row">
   <div class= "content">
      <h1>Lote <%= @lot.code%></h1>
      
   </div>
   <div class = "content">
   
   </div>
   <div>
      <%if @user_bid.present?%>
         <h3>Seu lance: R$<%= @user_bid.value%></h3>
      <%end%>
      <%if @bid.present?%>
         <h4>Último lance: R$<%= @last_bid.value%></h4>
      <%end%>
   </div>
   <div class = "content">
      Início: <%= I18n.localize(@lot.start_date) %> </br >
      Fim: <%=  I18n.localize(@lot.limit_date)  %></br >
      Lance mínimo: R$<%=@lot.min_value%></br >
      Diferença de lance: R$<%=@lot.dif_value%></br >
      Status: <%= t("activerecord.enum.lot.status.#{@lot.status}")%>
   </div>

   <h2>Itens do lote</h2>

   <div>
      <%@lot.lot_items.each do |item|%>
         <div id=<%=item.id%>>
            <%= link_to item.product.name, product_path(item.product)%> <%= button_to "Remover", lot_lot_item_path(@lot, item), method: :delete if current_administrator && @lot.awaiting? %>
         </div>
      <%end%>
   </div>
   
   <%if current_administrator%>
      <%= link_to "Adicionar itens", new_lot_lot_item_path(@lot) if @lot.awaiting?%>

      <%= link_to "Editar", edit_lot_path(@lot) %>
      <% if current_administrator.id != @lot.administrator.id%>
         <%= button_to "Aprovar lote", aprove_lot_path(@lot), method: :put if @lot.awaiting?%> 
      <%end%>
   <%else%>
      <%= link_to "Dar lance", new_lot_bid_path(@lot) if I18n.l(@lot.start_date) <= I18n.l(Time.zone.today) %> 
   <%end%>

</div>