<!DOCTYPE html>
<html>
  <head>
    <title>ItemsAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <ul>
       <li> <%= link_to "Itens", items_path %></li>
        <% if user_session%>
            <%if current_user.admin?%>
             <li> <%= link_to "Gerenciar usuários", users_path%></li>
            <%end%>
        <%end%>
        </ul>
         <%if user_signed_in? %>  
               <%= button_to "Sair", destroy_user_session_path, method: :delete %>
              <%else%>
              <%= link_to "Login", new_user_session_path %>
         <%end%>
    </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
