<!DOCTYPE html>
<html>
  <head>
    <title>Leilão de Lotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
     <nav class="nav-bar">
      <ul>
       <li> <%= link_to "Home", root_path %></li>
       <li> <%= link_to "Itens", items_path %></li>
        <li> <%= link_to "Lotes para leilão", lots_path %></li>
     
        <% if user_session%>
            <%if current_user.admin?%>
             <li> <%= link_to "Gerenciar usuários", users_path%></li>
             
            <%end%>
        <%end%>
        </ul>
         <%if user_signed_in? %>  
               <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'btn'%>
              <%else%>
              <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
         <%end%>
    </nav>

  </header>
    <main>
    </main>
 

  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
  </main>
    
  </body>
</html>
